doctype 5
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	script(src='/javascripts/jquery-1.8.2.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/knockout-2.2.0.js')
	script(src='/javascripts/employeelist_viewmodel.js')
	
	body
		block content